.outerDiv{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}
.innerDiv{
    width: 80vw;
    /* border: 2px solid green; */
}
@media (min-width: 360px) {
    .innerDiv{
        width: 70vw;
    }
}
@media (min-width: 768px) {
    .innerDiv{
        width: 60vw;
    }
}
@media (min-width: 968px) {
    .innerDiv{
        width: 45vw;
    }
}